* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

/*...............layout...................*/

.layout {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
  grid-template-columns: 250px 4fr 4fr;
  grid-template-rows: auto 10fr auto;
}

.header {
  grid-area: header;
  border-bottom: solid 1.5px rgba(128, 128, 128, 0.438);
  background-color: #0e65adf1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar {
  height: 80vh;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: auto;
}
.main {
  grid-area: main;
  border-left: solid 1.5px rgba(128, 128, 128, 0.438);
  background-color: rgba(220, 220, 220, 0.199);
  padding: 1em 3em 1em 3em;
}
.footer {
  grid-area: footer;
  border-top: solid 1.5px rgba(128, 128, 128, 0.438);
  background: #0e65adf1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*..............Header.................*/

.header img {
  padding: 20px 0 20px 5em;
}

.search {
  display: flex;
  justify-content: end;
  align-items: center;
  background: #fff;
  padding: 9px 22px 9px 26px;
  border-radius: 30px;
}

.search input {
  border: none;
  font-weight: bold;
  padding-left: 24px;
  background-size: 16px;
  width: 0px;
  transition: all 1s;
}

.search input:hover {
  outline: none;
  border: none;
  width: 300px;
}

.navbar {
  width: 30%;
  margin: 3px;
  padding: 20px 5em 20px 0;
  display: flex;
  justify-content: space-between;
}

.pages {
  width: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-p {
  height: 2em;
  text-align: center;
}

.pages a {
  text-decoration: none;
  color: white;
  font-size: 0.7em;
  padding-left: 1em;
}

/*..............Sidebar.................*/

.sidebar h3 {
  margin: 10px 0 10px 0;
}

.cat {
  height: 15em;
  width: 12em;
  padding: 10px 0 0 10px;
  border: solid 1.5px rgba(128, 128, 128, 0.438);
  background-color: rgba(220, 220, 220, 0.199);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.cat::-webkit-scrollbar {
  width: 7px;
}

.cat::-webkit-scrollbar-thumb {
  background: #ff9d00;
  border-radius: 10px;
}

.list {
  margin-bottom: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.list label {
  padding-left: 3px;
}

.list p {
  padding-left: 10px;
  font-size: small;
  color: rgba(128, 128, 128, 0.514);
}

/*................Store.................*/

.nav-main {
  padding: 5px 0 5px 0;
}

.container {
  height: 75vh;
  padding: 10px;
  border: solid 1px rgba(128, 128, 128, 0.658);
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 20px 0px;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  background: #0e65adf1;
  border-radius: 20px;
}

/*................Cards.................*/

.card {
  height: 25em;
  width: 15em;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-c {
  height: 65%;
  width: 100%;
}

.header-c img {
  height: 100%;
  width: 100%;
  display: block;
}

.body-c {
  height: 25%;
  width: 100%;
  text-align: center;
}

.price {
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.664);
  font-size: small;
}

.footer-c {
  height: 10%;
  width: 100%;
}

.footer-c input {
  height: 100%;
  width: 100%;
  font-size: x-large;
  color: #fff;
  background: #0e65adf1;
}

/*................footer................*/

.derechos {
  height: 100%;
  width: 33%;
  padding: 20px 10px 0;
  color: #fff;
}
.nav-f {
  height: 100%;
  width: 33%;
}

.nav-f ul {
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-around;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.work {
  height: 100%;
  width: 33%;
  text-align: center;
  padding-top: 15px;
}
